body.app
  color: #444
  background: whitesmoke

  .site-footer
    display: none

  .app-header
    +container(100%)
    background: #444

    .navbar-left
      padding: 10px 0
      float: left

    .navbar-right
      padding: 10px 0
      float: right

    .logo-brand
      font-weight: bold
      color: #fff
    a
      color: #fff
      text-align: center
      margin-right: 10px

    li
      display: inline-block

  .dashboard .container
    padding: 2em 0

.cards
  +pie-clearfix
  width: 100%

.card
  +pie-clearfix
  width: 100%
  display: block
  margin: 2em auto
  background: white
  border: 1px solid rgba(black, .15)

  +breakpoint(max-width 700px)
    width: 95%
    margin-left: auto
    margin-right: auto

  .card-title
    font-size: 200%
    font-weight: $font-weight-light
    line-height: 1.2em
    margin-bottom: .6em

  .card-meta
    +span(9 of 12)
    padding: 2em 0 2em 2em
    margin-right: 0

  .card-controls
    +span(3 of 12 last)
    padding: 2em

    +breakpoint(max-width 700px)
      padding-left: 1em
      padding-right: 1em

  .card-control
    margin-bottom: 2em

  .switch-info
    text-align: center
