body.index
  .site-footer
    a
      color: $blue

.masthead
  background-image: url("/images/masthead-bg.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  display: table
  position: absolute
  width: 100%
  height: 100%
  min-height: 100%
  color: #fff

  h1
    padding: 1em 0
    font-size: 200%
    letter-spacing: .003em

  .container
    display: table-cell
    vertical-align: middle
    position: relative

  .logo-brand
    width: 150px
    height: 150px
    background: #fff
    margin: 0 auto
    display: block
    border-radius: 100%

  .button:hover
    background: transparent

  .button.login
    position: absolute
    top: 15px
    right: 15px
    border: 1px solid white
    background: transparent
    transition: background-color, border-color 100ms ease-in-out

    &:hover
      background: $blue
      border-color: $blue
      color: #fff
