if defined?(Sinatra)
  # This is the configuration to use when running within sinatra
  project_path = Sinatra::Application.root
  environment = :development
  disable_warnings = true
  relative_assets = true

else
  # this is the configuration to use when running within the compass command line tool.
  disable_warnings = true
  css_dir = File.join 'public', 'stylesheets'
  relative_assets = true
  environment = :production
end

# This is common configuration
# project_path = "../"
# css_dir = "/views/stylesheets"
# fonts_dir = "/views/fonts"
# sass_dir = "/views/stylesheets"
# images_dir = "/public/images"

# sass_dir = File.join 'views', 'stylesheets'
# images_dir = File.join 'public', 'images'

# http_path = "/"
# http_images_path = "/images"
# http_stylesheets_path = "/stylesheets"
