<html>
<meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1">
<style type="text/css">
  a:hover {
      text-decoration: underline;
  }

  .outlink:hover {
      color: #2c3e67 !important;
  }

  .button:hover {
      text-decoration: none;
      background: #49a429;
  }

  .content a:hover {
      color: #2480c7;
  }

  .content a:after {
      content: "\2192";
      padding-left: 8px;
  }
</style>
<div id="wrap">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr width="100%">
                <td align="center" valign="top" bgcolor="#ffffff">
                    <table width="" cellspacing="0" cellpadding="5%">
                        <tbody>
                            <tr>
                                <td width="0"></td>
                                <td width="542" align="left">

                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="color: #fff; font-weight: 500; font-size: 25px;">
                                                        <img src="http://i.imgur.com/HW2p9Nk.png" width="240" height="33" style="height: 33px; line-height: 100%; outline: none; text-decoration: none; border: 0;" alt="Prominder" title="Prominder">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="18"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" height="10"> </td>
                                            </tr>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                    <div class="content" style="font-size: 18px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.25em; text-align: center; margin-top: 60px; background: #fff;" align="center">
                                        <img src="http://chipcollins.me/wp-content/uploads/2014/06/just-a-pinch.png" width="150" height="158" alt="The Friday Slump?" style="height: auto; line-height: 100%; outline: none; text-decoration: none; margin-bottom: 20px;">
                                        <h2 style="font-size: 22px; font-weight: 400; color: #333; display: block; line-height: 1.5em; margin: 10px 0;">You're this close to finishing your setup!</h2>

                                        <p class="lead" style="color: #73787d; font-size: 17px; font-weight: 300; line-height: 1.45em; margin-bottom: .25em; text-align: left; letter-spacing: 0.035em;" align="left">One more click is all it's going to take. We'll schedule the reminders and prod you later!
                                        </p>
                                    </div>

                                    <div class="content-button" style="font-size: 18px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.75em; text-align: center; background: #fff; padding: 3em 0 2em;" align="center">
                                        <a href="http://localhost:9393/user/<%= @user.custom_id %>/verify/<%= @user_session %>" class="button" target="_blank" style="color: #fff; display: block; font-size: 17px; max-width: 270px; height: 44px; line-height: 44px; text-decoration: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #1d88e2; margin: 0 auto;">Verify My Email Account</a>
                                    </div>

                                    <!-- <table width="100%">
                                        <tbody>
                                            <tr width="100%">
                                                <td align="center">
                                                    <div class="footer-text" style="color: #73787d; font-size: 14px; line-height: 1.5em; font-weight: 300; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; border-top-style: solid; border-top-width: 1px; border-top-color: #e5ecef; margin-top: 15px; padding: 20px 20px 0px;">&nbsp;Prodminder built in Vancouver BC, Canada.
                                                        <br>To stop receiving emails from Prodminder, <a style="color: #bbbbbb; text-decoration: underline;" href="" target="_blank">unsubscribe</a>.</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                        </tbody>
                                    </table> -->
                                </td>
                                <td width="0"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>
